In [1]:
# Initial Imports
import pandas as pd
from pathlib import Path

# New Library for reading many csv files into dataframe
# Found at https://medium.com/@kadek/elegantly-reading-multiple-csvs-into-pandas-e1a76843b688#id_token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjE1NDllMGFlZjU3NGQxYzdiZGQxMzZjMjAyYjhkMjkwNTgwYjE2NWMiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJuYmYiOjE2NTk2MjcxNDgsImF1ZCI6IjIxNjI5NjAzNTgzNC1rMWs2cWUwNjBzMnRwMmEyamFtNGxqZGNtczAwc3R0Zy5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExNjg4MjEwMDg0MjcxOTU0OTMwNCIsImVtYWlsIjoiZnJlZGVjOTZAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF6cCI6IjIxNjI5NjAzNTgzNC1rMWs2cWUwNjBzMnRwMmEyamFtNGxqZGNtczAwc3R0Zy5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsIm5hbWUiOiJDb2xlIEZyZWRlcmljayIsInBpY3R1cmUiOiJodHRwczovL2xoMy5nb29nbGV1c2VyY29udGVudC5jb20vYS0vQUZkWnVjcjg3LU5NRXUwcVB4NnVzbjgtejNVZ0YyZHVBRURSWU05WDJyWUNsUT1zOTYtYyIsImdpdmVuX25hbWUiOiJDb2xlIiwiZmFtaWx5X25hbWUiOiJGcmVkZXJpY2siLCJpYXQiOjE2NTk2Mjc0NDgsImV4cCI6MTY1OTYzMTA0OCwianRpIjoiODg3OTc2MDgwNjcyODdlNmViNzFhYWIzNzZiMWRlODJiZmM4NDJlZiJ9.eOP7bkQicskLAT-MAHZYz9caPxIwkQRH1DVWwtG6kGUm9jZk9ri-iqL9HsJNcTceYwutvg-_unVTYGWlH1hzbWyQxEIWOZKDJmjZv8YO22lKNyE8da_heJPjc_15fjgvxWQtEWBFKic8yUV7Xf2IObrjAKDe7jdund_uGryWSvajZbgb65y8BkaBZsW4l2bU--Sk_tOpsJfRKnU5IomWwnaWISIa_yiju8Zq0E3Yity220eakdPeUf5_ZWPkUXd-NAuPsMH8wq0BtjuhuTkTOCODgUllPmxuj2tWs9aIkBAvJ9RWrHUO7VTZ1CwrYgL6D9GERfWgNtjXHxCfd7Km2Q
import glob

In [2]:
# Use the `read_csv` function to create Bitcoin data Pandas DataFrame
btc_df = pd.read_csv(
    Path("..//raw_csv/BTC.csv"),
    header=1,
    index_col="date", 
    parse_dates=True,
    infer_datetime_format=True
)

In [3]:
# Drop unix column from dataframe
btc_df = btc_df.drop(columns=['unix',])

In [4]:
btc_df

,symbol,open,high,low,close,Volume USD,Volume BTC
date,,,,,,,
2022-08-04,BTC/USD,22813.213072,23006.000000,22792.00,22969.000000,1.247936e+06,54.331300
2022-08-03,BTC/USD,22982.000000,23634.097482,22680.00,22813.873707,1.083055e+08,4747.351281
2022-08-02,BTC/USD,23256.000000,23466.000000,22676.00,22986.000000,9.698831e+07,4219.451219
2022-08-01,BTC/USD,23291.000000,23499.338920,22879.00,23256.431307,1.297409e+08,5578.709695
2022-07-31,BTC/USD,23640.267907,24211.000000,23233.00,23294.000000,7.329680e+07,3146.595788
...,...,...,...,...,...,...,...
2015-02-13,BTC/USD,222.390000,241.760000,221.46,236.000000,6.806973e+06,29079.110000
2015-02-12,BTC/USD,219.190000,223.200000,217.87,222.600000,2.468883e+06,11190.650000
2015-02-11,BTC/USD,220.960000,224.400000,218.10,219.190000,4.268987e+06,19289.280000
2015-02-10,BTC/USD,220.610000,223.880000,214.00,220.960000,6.402351e+06,29268.950000
2015-02-09,BTC/USD,224.220000,225.000000,215.40,220.610000,6.493501e+06,29625.030000

In [5]:
# Identify Series count
btc_df.count()

symbol        2734
open          2734
high          2734
low           2734
close         2734
Volume USD    2734
Volume BTC    2734
dtype: int64

In [6]:
# Get info
# Compare non-null to series count 
# Check data types
btc_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2734 entries, 2022-08-04 to 2015-02-09
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   symbol      2734 non-null   object
 1   open        2734 non-null   float64
 2   high        2734 non-null   float64
 3   low         2734 non-null   float64
 4   close       2734 non-null   float64
 5   Volume USD  2734 non-null   float64
 6   Volume BTC  2734 non-null   float64
dtypes: float64(6), object(1)
memory usage: 170.9+ KB

In [7]:
btc_df.describe()

,open,high,low,close,Volume USD,Volume BTC
count,2734.000000,2734.000000,2734.000000,2734.000000,2.734000e+03,2734.000000
mean,13166.264817,13543.787789,12737.958120,13174.623532,1.494323e+08,18007.853155
std,16704.993587,17165.139255,16168.328213,16704.571263,2.149318e+08,20351.687123
min,212.630000,223.200000,162.000000,212.630000,0.000000e+00,0.000000
25%,816.105000,831.482500,789.962500,817.760000,1.502975e+07,5526.415000
50%,7042.400000,7292.350000,6836.590000,7049.550000,6.623758e+07,10708.797379
75%,13263.000000,13819.250000,12726.500000,13348.750000,1.974472e+08,22626.607500
max,67526.000000,68958.000000,66326.000000,67526.000000,2.491339e+09,266768.610000

In [8]:
# Save btc_df as Bitcoin_Data.csv

#btc_df.to_csv('Bitcoin_Data.csv')

In [10]:
# glob.glob('raw_csv*.csv') - returns List[str] of all CSV files in raw_csv directory
# pd.read_csv(f) - returns pd.DataFrame() 
# for f in glob.glob() - returns a List[DataFrames]
# pd.concat() - returns one pd.DataFrame()
df = pd.concat([pd.read_csv(f, header=1,
               index_col="date", 
               parse_dates=True,
               infer_datetime_format=True ) for f in glob.glob('..//raw_csv/*.csv')])

In [11]:
# Create new dataframe called coins_master which only includes specified columns
coins_master = df[['symbol', 'open', 'high', 'low', 'close', 'Volume USD']]

In [12]:
coins_master

             symbol      open      high       low     close   Volume USD
date
2022-04-22  UOP/USD  0.027273  0.030710  0.027273  0.029466   149.317976
2022-04-21  UOP/USD  0.027258  0.027288  0.026666  0.027288    10.502465
2022-04-20  UOP/USD  0.029777  0.030400  0.026355  0.026977   120.202376
2022-04-19  UOP/USD  0.029155  0.030400  0.029155  0.030400    18.338419
2022-04-18  UOP/USD  0.029155  0.029777  0.028844  0.029777    28.100589
...             ...       ...       ...       ...       ...          ...
2021-12-12  BNT/USD  3.368700  3.368700  3.368700  3.368700    77.830176
2021-12-11  BNT/USD  3.269400  3.331200  3.269400  3.331200   310.402763
2021-12-10  BNT/USD  3.302100  3.302100  3.302100  3.302100    77.826952
2021-12-09  BNT/USD  3.687700  3.688700  3.390400  3.390400  1074.468455
2021-12-08  BNT/USD  3.554100  3.666800  3.554100  3.644100   741.322024

[61779 rows x 6 columns]

In [13]:
# Identify Series count
coins_master.count()

symbol        61779
open          61779
high          61779
low           61779
close         61779
Volume USD    61779
dtype: int64

In [14]:
# Get info
# Compare non-null to series count 
# Check data types
coins_master.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 61779 entries, 2022-04-22 to 2021-12-08
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   symbol      61779 non-null  object
 1   open        61779 non-null  float64
 2   high        61779 non-null  float64
 3   low         61779 non-null  float64
 4   close       61779 non-null  float64
 5   Volume USD  61779 non-null  float64
dtypes: float64(5), object(1)
memory usage: 3.3+ MB

In [15]:
coins_master.describe()

,open,high,low,close,Volume USD
count,61779.000000,61779.000000,61779.000000,61779.000000,6.177900e+04
mean,1359.626205,1405.356335,1308.101834,1357.366187,1.226922e+07
std,9606.520005,9935.232651,9227.865369,9577.831832,6.279115e+07
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,0.193960,0.201875,0.186400,0.193200,7.756269e+03
50%,1.380000,1.448400,1.310000,1.375700,9.711657e+04
75%,20.396000,21.500000,19.396500,20.354000,1.529422e+06
max,320000.000000,320000.000000,320000.000000,320000.000000,2.491339e+09

In [16]:
# Save coins_master dataframe as Coins_Data_Master.csv

#coins_master.to_csv('Coins_Data_Master.csv')